@import "componentes/header";
@import "componentes/main";
@import "componentes/productos";
@import "componentes/footer";
@import "base/colores";
@import "base/listas";
@import "base/variables";

body {
    background-color: nth($colores, 4);
    background-image: url(imágenes/elite-fitness-stoke-gym-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 1px 0 0;
}

img {
    border: 2px solid nth($colores, 2);
}